.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: left;
  padding-bottom: 19px;

  text-transform: uppercase;
  letter-spacing: 1px;
  color:#00aeff;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* Adding padding to body to allow fixed navbar on top */

body {
  padding-top: 70px;
  background-color: white;
}

/* Navigation Logo settings */
.navbar {
  background-color: #278ff1;
}

.navbar-brand {
	color: white;
    float:left;
	position: relative;
	font-size: 22px;
	line-height: 50px;
	font-weight: 100;
	letter-spacing: 2px;

}

.logo:hover{
    color: white;
    text-decoration: none;
}

.menuItems {
    color: white;
    font-size: 14px;
	line-height: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}

.btn-nav {
	border:1px solid white;
	border-radius: 5px;
	padding:5px 10px;
	margin:0 10px;
	text-decoration: none;
	color:#eb5f5f;
	background-color: #f6f6f5;
	font-weight: 600;
	font-size: 14px
}

.btn-nav:hover {
	color: #0FA0CE;
	text-decoration: none;
}


/*Used in profile.html. In Future, replace with generic bootstrap/skeleton class*/
.profile-image{

	width: 250px;
	margin: 0;
	box-sizing: border-box;
	margin-top: 0px;
	position: relative;
	border-bottom: 5px solid white;

	}

.profile {
	background-color: #eaeef0;
	width: 250px;
}

.profile__header{
	text-align: center;
}

.profile__info{
	/*padding:0 20px 10px 20px;*/
	padding: 25px 25px 0px 25px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-color: black;
	font-family: sans-serif;
	font-weight: 400;
}


h1.profile__full_name{
	font-size: 34px;
	padding: none;
	letter-spacing: 1px;
	margin: 0;
	font-weight: 100;
	letter-spacing: 1px;
}

.profile-title {
	font-size: 18px;
	margin:0px;
	font-weight: 200;
	letter-spacing: .5px;
	/*border:1px solid green;*/

}

.profile-handle{ font-size: 16px;
	/* border:1px solid green;*/
		margin-bottom: 10px;}

.profile-short-bio{ font-size: 14px;
	padding:15px 0px;
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	margin-bottom: 10px;
}
.profile-location{ vertical-align: top; line-height:21px; display: inline-block; }
.profile-website{ vertical-align: top; line-height:24px; display: inline-block;margin-left: 10px;}
.profile-website a{ vertical-align: top; line-height:24px;}

.about-tab {
	padding:10px 10px 10px 25px;
	background-color: #27c4f1;
	color: white;
	font-size: 22px;
	text-align: center;
}
.about-tab a { color:white; font-size: 22px; text-decoration: none; vertical-align: top; line-height:33px;}

.about-tab:hover{

	background-color: #18a9d3;
	color:white;

}

/* Post Customization */
.post__content {
	font-size: 18px;
	color:black;
	margin:10px 0px 20px 10px;
	clear: both;
	line-height:29px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
.author-quote-short {
	font-style: italic;
	font-size: 22px;
	color:black;
	margin:10px 0px 20px 0px;
	line-height: 34px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

.author-name {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 0px;
	color:#00aeff;
	align: right;
}

.author-title {
	font-size: 12px;
}

.author-relationship {
	font-size: 12px;
}


.post-meta-tag {
	display: inline-block;
	background: #eee;
	padding:5px 10px;
	margin-left: 5px;
	margin-bottom:10px;
	border-radius: 20px;
	font-size: 10px; /*9px*/
	text-transform: uppercase;
	letter-spacing: 1px;
}
